<h1>Instructors#new</h1>
<p>Find me in app/views/Instructors/new.html.erb</p>
<%= form_for @instructor do |f|%>
<%= f.label "Instructor" %>
<%= f.text_field :name_instructor %>
    <%= datetime_select :person, :birth_date %>
    <%= select_datetime Date.today, :prefix => :start_date %>



<% end %>