<%= render 'layouts/errors', :message_error=>@group %>
params[:index_g]<%= @index_g.nil? %>
<%= f.label "Nazvanie gruppy" %>
<%= f.text_field :name_group %><br />
<%= f.label "Kolichestvo mujchin ne > #{Pool.first.men_locker_room}" %>
<%= f.text_field :number_of_men %><br />
<%= f.label "Kolichestvo jenschin ne > #{Pool.first.women_locker_room}" %>
<%= f.text_field :number_of_women %><br />
<%= @group1=Group.new(params[:group]) %>
<%= @group1.number_of_men %>
<%= @group1.number_of_women %>
<%= f.hidden_field :summary_number, :value=>@group1.number_of_men.to_i %>
<% if @group.id.nil? %>
    <%=	 f.submit "Sozdat'" %>
    <div class="centering_buttons">
      <%=	 link_to "Nazad k spisku grupp", groups_path,:class =>"link_button round" %>
    </div>
<% else %>

    <%= f.submit "Izmenit'" %>
    <div class="centering_buttons">
      <%=	 link_to "Nazad", group_path(@group.id),:class =>"link_button round" %>
    </div>
<%end%>
<!--% if @index_g %>

    < % else %>

< % end %-->