<!Doctype html>
<html>
<head>
  <title><%= zagolovok %>  </title>
  <%= csrf_meta_tag  %>
  <%= stylesheet_link_tag 'moiCSS', :media => 'screen' %>
</head>
<body>
<div class="container">
  <%=render "layouts/header"%>
  <section class="round">
    <%= yield %>
  </section>
  <nav class="round">
    <ul>
      <li> </li>
    </ul>
  </nav>
</div>
</body>

</html>