<!Doctype html>
<html>
<head>
  <title><%= title %>  </title>
  <%= csrf_meta_tag  %>
  <%= javascript_include_tag :defaults %>
  <!--  -->
  <%= stylesheet_link_tag 'moiCSS', :media => 'screen' %>
</head>
<body>
<div class="container">
  <%=render "layouts/header"%>
  <section class="round">
    <%= yield %>
  </section>
  <nav class="round">
    <ul>
      <li> </li>
    </ul>
  </nav>
</div>
</body>
<%= debug(params) if Rails.env.development? %>
</html>